<%- include('partials/header') -%>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
            <p>This is a simple Todo List application built with Node.js, Express and EJS.</p>
        </div>
    </div>
</div>
</body>

<%- include('partials/footer') -%>