<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Today is <%= dayOfWeek %></h1>
<h2>My To-Do List</h2>
<p>Number of items: <%= items.length %></p>
<ul>
    <% for (let i = 0; i < items.length; i++) { %>
        <li><%= items[i] %></li>
    <% } %>
</ul>

<form action="/" method="POST">
    <input type="text" name="newItem">
    <button type="submit">Add</button>
</form>
</body>
</html>