/**************** TAG SELECTORS ****************/
h1 {
    color: darkgreen;
    font-size: 100px;
}
body {
    background-color: darkseagreen;
}
/* this one is overwritten by the class-specific CSS below*/
img {
    background-color: #F1F6F9;
}

/**************** CLASS SELECTORS ****************/
/*Each element can belong to 0+ classes, classes can include 1+ elements*/
.bacon:hover {
    background-color: red;
}
.broccoli:hover {
    background-color: palegreen;
}


/**************** ID SELECTORS ****************/
/*Id is unique accross the page, each element can only have one*/
#middle-paragraph {
    font-style: italic;
}